.header
  z-index: 10
  fixed top
  left: 50%

  width: 860px
  margin: 45px 0 0 (-1 * @width / 2)

.logo
  position: absolute
  top: 0
  left: 50%

  width: 284px
  height: 172px
  margin-left: -1 * (@width / 2)

  background-repeat: no-repeat
  background-position: center top
  background-image: url('../i/logo.png')

  &_wrap
    position: relative