.nav
  margin-top: 63px
  clearfix()

  &_item
    font-size: 11px
    min-width: 95px

    margin: 0 22px

    list-style: none
    float: left

    user-select: none

    &:first-child
      margin-left: 0

    &__clear
      margin-right: 0

    &__right
      float: right

    &_link
      font-size: 15px
      font-family: plumb-me

      display: block
      padding: 7px 9px 5px

      text-transform: uppercase
      text-decoration: none
      text-align: center

      color: #ffffff

      border-radius: 9px
      transition: background-color 0.10s ease-out, color 0.10s ease-out

      &:hover
        color: #273440
        background-color: #C69A6B
